/* Main color scheme*/

/* background:  #051622 */
/* nav buttons:  #1BA098 */
/* Main heading text and p text: #DEB992 */

/* Fonts  */

/* Headings and a text: font-family: 'Roboto', sans-serif; */
/* p text: font-family: 'Playfair Display', serif; */
/*Creating 1920x1080 screen media querie*/
@media only screen and (max-width: 1920px) {
body {
    font-family: 'Roboto', sans-serif;
    background-color: #051622;
    color: #DEB992;
    font-size: 1em;
    margin: auto;
    overflow-x: hidden;
}
#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 10vw;
    /* background: rgba(0, 0, 0, 0.950); */
    margin-left: 3vw;
    border-radius: 1.5em;
    z-index: 2;
}
.h1-hero {
    margin-top: 7vh;
  }
.main-heading {
    color: #DEB992;
    font-size: 2.3em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
}
a {
    text-decoration: none;
    color: #C9B29B;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
    margin: 1vh 0vw;
}
.nav-button-container {
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-right: solid 1px aqua;
    padding-right: 2vw;
    margin: 2vh 0vw 0vh 2vw;
    height: 23.2vh;    
}
.section-position {
    padding-left: 15vw;
}
section {
    height: 100vh;
    width: 100vw;
}
/* #beginnings {
    background-image: url(/images/beginnings.jpg); */
    /* filter: blur(1px); */
    /* background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
} */
/* #sleep {
    background-image: url(/images/sleepy-clouds.jpg);
    filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}
#nutrition {
    background-image: url(/images/healthy-eating.jpg);
    filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}
#training {
    background-image: url(/images/weight-rack.jpg);
    filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}
#summary {
    background-image: url(/images/mountain-summary.jpg);
    filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
} */
.art-heading {
    font-size: 2em;
    color: aqua;
    font-family: 'Playfair Display', serif;
    padding: 5vw 2vw 2vh 0vw;
    margin: auto;
}
article {
    padding: 1em;
    margin: 1vh 5vw;
}
.summary-point {
    font-size: 12px;
    background-color: #d3d3d3;
    color: #000000;
    padding: 15px;
}
/* Sizing for mobile/phones */
@media (max-width: 600px) {
  #nav-container {
    display: none;
  }
}
}